<div class="topbar"></div>
<div class="app uk-flex-center uk-flex-middle uk-child-width-1-1" uk-grid>
  
  <!-- Current Weather -->
  <section class="uk-width-auto">
    <app-today></app-today>
  </section>
  
  <section class="uk-text-center">
    <!-- Location -->
    <div class="uk-container" uk-grid>
      <div>
        {{ today | amDateFormat:'dddd, MMMM Do YYYY'}}
      </div>
    </div>
    <!-- Forecast -->
    <div class="uk-container uk-grid-center uk-child-width-1-{{ forecastDates.length }}" uk-grid>
      <app-forecast *ngFor="let date of forecastDates" [date]="date"></app-forecast>
    </div>
  </section>
</div>


